<div class="modal fade" id="HoursRegularizationModal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <input type="hidden" name="showDate" id="showDate" value="" />
                <h4 class="modal-title" id="popupDateSpan"></h4>
            </div>
            <div id="ModalBody" style="margin:10px;">
                <div class="form-group">
                    <label class="control-label" for="time">Hours:</label>
                    <input type="time" class="form-control" id="time" value="09:00" style="width:110px;" placeholder="Enter time" name="time">
                </div>
                <div class="form-group">
                    <label class="control-label" for="pwd">Remark:</label>
                    <textarea class="form-control" rows="5" id="remark"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <button type="button" onclick="saveData()" class="btn btn-info pull-right">Regularize</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var _convertStringToDateObject;
        var _employeeId;

        regularizeHours = function (date, employeeId) {
            _convertStringToDateObject = new Date(date);
            _employeeId = employeeId;

            $("#popupDateSpan").html(dateToYMD(_convertStringToDateObject));
            $('#HoursRegularizationModal').modal({ 'show': true, 'backdrop': true });
        }

        saveData = function () {
            $.ajax({
                type: "POST",
                url: "SaveRegularizeHours/",
                data: {
                    date: dateToYMD(_convertStringToDateObject),
                    employeeId: _employeeId,
                    timeToBeRegularize: document.getElementById("time").value,
                    remark: document.getElementById("remark").value
                },
                success: function (response) {
                    alert('saved');
                }
            });
        }

    });

    $(document).ajaxError(function (e, xhr, settings) {
        if (xhr.status == 401) {
            alert("Your Session time expired. Please login again.");
            window.location = "/";
        }
    });


    function dateToYMD(date) {
        try {
            var strArray = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
            var d = date.getDate();
            var m = strArray[date.getMonth()];
            var y = date.getFullYear();
            return '' + (d <= 9 ? '0' + d : d) + ' ' + m + ' ' + y;
        } catch (e) {
            alert('Invalid date');
            return null;
        }
    }

    $('.popoverClass').popover({ trigger: "hover" });
    $('[data-toggle="tooltip"]').tooltip({ placement: "bottom" });

</script>

<style>
    [data-toggle="tooltip"] {
        font-size: 15px;
        cursor: pointer;
    }
</style>