@model ReporteeViewModel


<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#attendanceReportMenu"><label>Attendance report</label></a></li>
    <li><a data-toggle="tab" href="#leaveReportMenu"><label>Leave report</label></a></li>
</ul>

<div class="tab-content">
    <div id="attendanceReportMenu" class="tab-pane fade in active">
        @{await Html.RenderPartialAsync("_AttendanceReportTabContent", @Model);}
    </div>
    <div id="leaveReportMenu" class="tab-pane fade">
        <br />
        @{await Html.RenderPartialAsync("_LeaveReportTabContent", @Model);}
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_AccessEventsPopup");}
    @{await Html.RenderPartialAsync("_HoursRegularizationPopup");}
}

<style>
    .table td {
        text-align: center;
    }

    .table th {
        text-align: center;
    }

    .panel-heading {
        padding: 10px 0px;
    }

    .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
        background-color: #D9EDF7;
    }
</style>